<h1 id="tableLabel">Book Catalog</h1>

<p>This component demonstrates fetching data from the server.</p>


<input class="search-book" type="text" placeholder="Search.." (input)="search($event)">

<br>

<div class="custom-select">
  <label>Sort by: </label>
  <select [(ngModel)]="selectedSortOption" (change)="sort()">
    <option value="1">Title (asc)</option>
    <option value="2">Title (desc)</option>
    <option value="3">Publication Date (asc)</option>
    <option value="4">Publication Date (desc)</option>
    <option value="5">Page Count (asc)</option>
    <option value="6">Page Count (desc)</option>
    <option value="7">None</option>
  </select>
</div>


<p *ngIf="!books"><em>Loading... Please wait while the data is being fetched.</em></p>

<table *ngIf="books">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Publication Date</th>
      <th>Description</th>
      <th>Page Count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.publicationDate }}</td>
      <td>{{ book.description }}</td>
      <td>{{ book.pageCount }}</td>
    </tr>
  </tbody>
</table>